<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a>@Html.ActionLink("El progreso", "index", "Home")</a></div>
        <a href="#menu">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a>@Html.ActionLink("El progreso", "index", "Home")</a></li>
            <li><a>@Html.ActionLink("Tasa de política monetaria", "tasaPolíticaMonetaria", "tasaPolíticaMonetaria")</a></li>
            <li><a>@Html.ActionLink("Tasa básica pasiva", "tasaBasicaPasiva", "tasaBasicaPasiva")</a></li>
            <li><a>@Html.ActionLink("Venta dolar", "ventaDolar", "ventaDolar")</a></li>
            <li><a>@Html.ActionLink("Compra dolar", "compraDolar", "compraDolar")</a></li>
            <li><a>@Html.ActionLink("Detalle indicador", "detalleIndicador", "detalleIndicador")</a></li>
            <li><a>@Html.ActionLink("Foro de consultas", "consulta", "consulta")</a></li>
        </ul>
    </nav>
</head>
<body>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Todos los derechos reservados 2019.
    </div>
</footer>
</html>
