@model List<Proyecto.Models.ConsultaViewModel> 
<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />

</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Aqui puedes aclarar o responder consultas</p>
                <h2>Foro indicadores</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p>
                        @foreach (var element in Model)
                        {
                        <table>
                            <thead>
                                <tr>
                                    <th><h2>@element.Consulta</h2></th>
                                </tr>
                                <tr>
                                    <th><h3>@element.Nombre</h3></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <tr>
                                        <td><h3>Respuestas</h3></td>
                                    </tr>
                                    @if (element.respuesta != null)
                                    {
                                        <td>
                                            <h4>@element.respuesta</h4>
                                        </td>
                                        <td>
                                            <h4>@element.nombre</h4>
                                        </td>
                                    }
                                    <td>
                                        @Html.ActionLink("Responder", "comentar", new { Id = element.Id })
                                        <hr />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                            
                        }
                    </p>                   
                </div>
                <hr />
            </div>
        </div>
    </section>
    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <!--Publicar oticia-->
                    @using (Html.BeginForm("publicar", "consulta", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "contact_form" }))
                    {

                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        <h2>
                                            Realizar una consulta
                                        </h2>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                            @Html.TextBox("nombre", ViewBag.nombre as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Nombre", @type = "text" })

                                        </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
                                            @Html.TextArea("Comentario", ViewBag.publicar as string, htmlAttributes: new { @class = "form-control", @style = "height:150px; resize:none;", @required = "required;", @placeholder = "Nueva consulta", @type = "text" })
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-group">
                                            <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit" style="background-color:#80808042; border-color:#80808042;">Publicar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    }
                </div>
                <hr />
            </div>
        </div>
    </section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>

<script>
    $(document).ready(function () {
        $("#idProvincia").change(function () {
            $.get("/detalleIndicador/getCanton", { idProvincia: $("#idProvincia").val() }
</script>
</html>