
<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Información relevante</p>
                <h2>Tasa Básica Pasiva</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <h2>A. Descripción del indicador</h2>
                    <p>
                        Es un indicador de referencia calculada por el banco central de Costa Rica que estima, en promedio, la tasa que pagan los 
                        bancos públicos y privados en el país y las entidades financieras por los depósitos o ahorros en colones.
                        También es utilizada por los bancos y otras entidades financieras para fijar las tasas que cobran por sus préstamos,
                        principalmente los de vivienda.
                    </p>
                    <h2>B. Fórmula de cálculo del indicador</h2>
                    <p>
                        <ul>
                            <li>La Tasa Básica Pasiva se calculará el día miércoles de cada semana o el día hábil inmediato anterior en caso de ser 
                            éste un día no hábil.</li>
                            <li>La Tasa Básica Pasiva se calculará con la información de las tasas de interés brutas negociadas para cada una de las 
                            operaciones de captación, a los plazos estipulados en el literal A, durante la semana anterior al cálculo (de miércoles a martes),
                            por los intermediarios financieros incluidos en una muestra determinada por la División Económica del Banco Central.</li>
                            <li>Promedio por entidad: Se calculará el promedio simple de las tasas de interés para cada entidad financiera, se excluirán 
                            aquellos valores que muestren diferencias de al menos dos desviaciones estándar con respecto a ese promedio.</li>
                            <li>Promedio por grupo de intermediarios financieros: Corresponde al promedio simple de las tasas de interés de las entidades que 
                            constituyen cada grupo de intermediarios financieros.</li>
                            <li>Las tasas incluidas en el cálculo son las correspondientes a las captaciones a plazos entre 150 y 210 días durante la semana de 
                            referencia definida en el ordinal ii anterior.</li>
                            <li>Todas las tasas incluidas en los cálculos se expresarán en términos brutos (sin excluir el impuesto sobre la renta), sobre un 
                            factor de 360 días y corresponderán a instrumentos de captación a plazo en colones.</li>
                            <li>Se empleará como ponderador de la tasa de interés resultante de cada grupo captador, el promedio móvil de los últimos seis meses
                            del saldo de la captación en colones a plazo del respectivo grupo, a partir de la información de las cuentas monetarias.</li>
                            <li>Para el cálculo se tomará una muestra de intermediarios financieros supervisados por la Superintendencia General de Entidades Financieras 
                            (SUGEF), cuyas captaciones en conjunto sumen al menos el 95% del saldo promedio de los últimos 6 meses, de la captación en colones a plazo 
                            (definido en las cuentas monetarias) de las OSD. Esta muestra deberá ser revisada, como mínimo, en febrero de cada año.</li>
                            <li>En caso de que algún intermediario incluido en la muestra deje de operar, el cálculo de la Tasa Básica Pasiva se realizará con 
                            la información de los intermediarios financieros autorizados a funcionar, hasta que se sustituya por otro intermediario que permita
                            cumplir con lo estipulado en el ordinal anterior.</li>
                            <li>La tasa resultante se redondeará al veinteavo del punto porcentual más cercano, se divulgará el día en que el Banco Central realiza
                            el cálculo y regirá a partir del día jueves de esa semana.</li>
                        </ul>
                    </p>
                    <h2>C. Periodicidad de cálculo del indicador</h2>
                    <p>La tasa pública se publica el día miércoles de cada semana y rige desde el jueves siguientes y durante los siete días posteriores.</p>
                    <h2>D. Gráfico lineal con el comportamiento histórico de los últimos 2 años</h2>
                    <p>

                        @for (int i = 0; i < ViewBag.Num; i++)
                        {
                            @Html.Raw(ViewBag.FechaInicio[i])
                            @Html.Raw(ViewBag.Valor[i]) <br />
                        }

                        <html>
                        <head>
                            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                            <script type="text/javascript">
                                google.charts.load('current', { 'packages': ['corechart'] });
                                google.charts.setOnLoadCallback(drawChart);



                                function drawVisualization() {
                                    // Create and populate the data table.
                                    var data = new google.visualization.DataTable();
                                                                   
                                    data.addColumn('Fehca', 'Valor');
                                    data.addColumn('number', 'Numbers'); 
                                    data.addRows(mycars.length);

                                    @for (int i = 0; i < ViewBag.Num; i++)
                                    {
                                        var fecha = @Html.Raw(ViewBag.FechaInicio[i]);
                                        var valor = @Html.Raw(ViewBag.Valor[i]);
                                    }

                                    for  (var i = 0; i < 731; i++){
                                      data.setCell(i,0,fecha[i]);
                                      data.setCell(i,1,valor[i]);
                                    }
                                    // Create and draw the visualization.
                                    new google.visualization.PieChart(document.getElementById('visualization')).
                                    draw(data, {title:"So, how was your day?"});
                                    }






                                function drawChart() {
                                    var data = google.visualization.DataTable();
                                        @for (int i = 0; i < ViewBag.Num; i++)
                                         {
                                             @Html.Raw(ViewBag.FechaInicio[i])
                                             @Html.Raw(ViewBag.Valor[i])                                          
                                         }


                                    var options = {
                                        title: 'Company Performance',
                                        curveType: 'function',
                                        legend: { position: 'bottom' }
                                    };

                                    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

                                    chart.draw(data, options);
                                }
                            </script>
                        </head>
                        <body>
                            <div id="curve_chart" style="width: 900px; height: 500px"></div>
                        </body>
                    </html>


                    </p>
                    <h2>
                        E. Explicación del impacto que podría tener para los costarricenses las
                        fluctuaciones a la baja o a la alza de dicho indicador
                    </h2>
                    <p>
                        Cuando una persona quiere ahorrar, debe fijarse cuánto está pagando cada banco, para definir cuál conviene.
                        Si una persona desea ahorrar o invertir, debe fijarse si el banco está pagando un porcentaje mayor o menor a la top, 
                        para valorar si realmente lo que la entidad ofrece es competitivo o no con el mercado.                 
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>
</html>