@model Proyecto.Models.ubicaciones

<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <script></script>
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Recibe diariamente en tu correo los indicadores financieros</p>
                <h2>Detalle de los indicadores</h2>
            </header>
        </div>
    </section>

    <div class="container" style="margin-top:50px;">
        @using (Html.BeginForm("notificaciones", "detalleIndicador", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id="contact_form"}))
        {
                <fieldset>
                    <!-- Form Name -->
                    <class style="text-align:center;">

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Nombre</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBox("nombre", ViewBag.nombre as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Nombre", @type = "text" })
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Cédula</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-registration-mark"></i></span>
                                    @Html.TextBox("Cédula", ViewBag.cedula as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @pattern = "[0-9]{9}", @placeholder = "Cédula", @type = "number" })
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Edad</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-star"></i></span>
                                    @Html.TextBox("Edad", ViewBag.edad as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @pattern = "[0-9]{2}", @placeholder = "Edad", @type = "number" })
                                </div>
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Correo</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    @Html.TextBox("Correo", ViewBag.email as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Ejemplo@gmail.com", @type = "text" })
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Profesión</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-tint"></i></span>
                                    @Html.TextBox("Profesion", ViewBag.profesion as string, htmlAttributes: new { @class = "form-control", @style = "", @required = "required;", @placeholder = "Profesión", @type = "text" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Provincia</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    @if (ViewBag.provincia != null)
                                    {
                                        @Html.DropDownListFor(model => model.idProvincia, ViewBag.provincia as SelectList, "--Seleccionar--", htmlAttributes: new { @class = "form-control selectpicker", @style = "width: 24&;", @required = "required" });
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Canton</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    @Html.DropDownListFor(model => model.idCantonProvincia, new SelectList(" "), "--Seleccionar--", htmlAttributes: new { @class = "form-control selectpicker", @style = "width: 24&;", @required = "required" });
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Distrito</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    @Html.DropDownListFor(model => model.idDistrito, new SelectList(" "), "--Seleccionar--", htmlAttributes: new { @class = "form-control selectpicker", @style = "width: 24&;", @required = "required" });
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button name="adduser" type="submit" class="btn btn-warning btn-block" id="contact-submit" style="background-color:#80808042; border-color:#80808042;">Recibir notificaciones</button>
                            </div>
                        </div>
                    </class>
            </fieldset>
        }
    </div>
        

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#idProvincia").change(function () {
            $.get("/detalleIndicador/getCanton", { idProvincia: $("#idProvincia").val() }, function (data) {
                $("#idCantonProvincia").empty();
                $.each(data, function (detalleIndicador, row) {
                    $("#idCantonProvincia").append("<option value'" + row.idCantonProvincia + "'>" + row.cantones + "</option>")
                });
            });
        })
    });

</script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>

</html>