
<!DOCTYPE HTML>
<html>
<head>
    <title>Hielo by TEMPLATED</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>

    <section id="One" class="wrapper style3">
        <div class="inner">
            <header class="align-center">
                <p>Información relevante</p>
                <h2>Tasa de Política Monetaria</h2>
            </header>
        </div>
    </section>

    <section id="two" class="wrapper style2">
        <div class="inner">
            <div class="box">
                <div class="content">
                    <p>
                        <h3>
                            La política monetaria es un área de la política económica, encargada a los bancos centrales, que tiene como propósito
                            influenciar las variables monetarias y financieras para lograr objetivos específicos, que en el caso costarricense,
                            se circunscriben a una inflación baja y estable.  
                            La inflación baja y estable contribuye a preservar el poder de compra de los salarios e ingresos de los habitantes del
                            país y facilita la toma de decisiones, favoreciendo el ahorro y la inversión y, en última instancia, el crecimiento económico. 

                        </h3>
                    </p>

                    <h2>B. Fórmula de cálculo del indicador</h2>
                    <p></p>
                    <h2>C. Periodicidad de cálculo del indicador</h2>
                    <p></p>
                    <p>
                        <h3>
                            Gráfico lineal con el comportamiento histórico de los últimos 2 años
                        </h3>
                    </p>

                    <div id="GraficaLineal" style="width: 1000px !important; height: 500px !important;">

                    </div>

                    <p>
                        <h3>
                            Si la tasa política monetaria sube, los intermediarios trasladarán ese costo a los consumidores cuando pidan crédito.
                            En buena teoría, al ver tasas más altas, las personas desistirían de pedir financiamiento y así se redice el dinero circulante
                            y por ende la inflación.
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </section>

</body>
<!-- Scripts -->
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.scrollex.min.js"></script>
<script src="~/Scripts/skel.min.js"></script>
<script src="~/Scripts/util.js"></script>
<script src="~/Scripts/main.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

function drawChart() {

            try {

                var data = google.visualization.arrayToDataTable([
                    ['Año', 'Valor'],
                    ['@ViewBag.FechaInicio[0]', @ViewBag.Valor[0]],
                    ['@ViewBag.FechaInicio[1]', @ViewBag.Valor[1]],
                    ['@ViewBag.FechaInicio[2]', @ViewBag.Valor[2]],
                    ['@ViewBag.FechaInicio[3]', @ViewBag.Valor[3]],
                    ['@ViewBag.FechaInicio[4]', @ViewBag.Valor[4]],
                    ['@ViewBag.FechaInicio[5]', @ViewBag.Valor[5]],
                    ['@ViewBag.FechaInicio[6]', @ViewBag.Valor[6]],
                    ['@ViewBag.FechaInicio[7]', @ViewBag.Valor[7]],
                    ['@ViewBag.FechaInicio[8]', @ViewBag.Valor[8]],
                    ['@ViewBag.FechaInicio[9]', @ViewBag.Valor[9]],
                    ['@ViewBag.FechaInicio[10]', @ViewBag.Valor[10]],
                    ['@ViewBag.FechaInicio[11]', @ViewBag.Valor[11]],
                    ['@ViewBag.FechaInicio[12]', @ViewBag.Valor[12]],
                    ['@ViewBag.FechaInicio[13]', @ViewBag.Valor[13]],
                    ['@ViewBag.FechaInicio[14]', @ViewBag.Valor[14]],
                    ['@ViewBag.FechaInicio[15]', @ViewBag.Valor[15]],
                    ['@ViewBag.FechaInicio[16]', @ViewBag.Valor[16]],
                    ['@ViewBag.FechaInicio[17]', @ViewBag.Valor[17]],
                    ['@ViewBag.FechaInicio[18]', @ViewBag.Valor[18]],
                    ['@ViewBag.FechaInicio[19]', @ViewBag.Valor[19]],
                    ['@ViewBag.FechaInicio[20]', @ViewBag.Valor[20]],
                    ['@ViewBag.FechaInicio[21]', @ViewBag.Valor[21]],
                    ['@ViewBag.FechaInicio[22]', @ViewBag.Valor[22]],
                    ['@ViewBag.FechaInicio[23]', @ViewBag.Valor[23]],
                    ['@ViewBag.FechaInicio[24]', @ViewBag.Valor[24]],
                    ['@ViewBag.FechaInicio[25]', @ViewBag.Valor[25]],
                    ['@ViewBag.FechaInicio[26]', @ViewBag.Valor[26]],
                    ['@ViewBag.FechaInicio[27]', @ViewBag.Valor[27]],
                    ['@ViewBag.FechaInicio[28]', @ViewBag.Valor[28]],
                    ['@ViewBag.FechaInicio[29]', @ViewBag.Valor[29]],
                    ['@ViewBag.FechaInicio[30]', @ViewBag.Valor[30]],
                    ['@ViewBag.FechaInicio[31]', @ViewBag.Valor[31]],
                    ['@ViewBag.FechaInicio[32]', @ViewBag.Valor[32]],
                    ['@ViewBag.FechaInicio[33]', @ViewBag.Valor[33]],
                    ['@ViewBag.FechaInicio[34]', @ViewBag.Valor[34]],
                    ['@ViewBag.FechaInicio[35]', @ViewBag.Valor[35]],
                    ['@ViewBag.FechaInicio[36]', @ViewBag.Valor[36]],
                    ['@ViewBag.FechaInicio[37]', @ViewBag.Valor[37]],
                    ['@ViewBag.FechaInicio[38]', @ViewBag.Valor[38]],
                    ['@ViewBag.FechaInicio[39]', @ViewBag.Valor[39]],
                    ['@ViewBag.FechaInicio[40]', @ViewBag.Valor[40]],
                    ['@ViewBag.FechaInicio[41]', @ViewBag.Valor[41]],
                    ['@ViewBag.FechaInicio[42]', @ViewBag.Valor[42]],
                    ['@ViewBag.FechaInicio[43]', @ViewBag.Valor[43]],
                    ['@ViewBag.FechaInicio[44]', @ViewBag.Valor[44]],
                    ['@ViewBag.FechaInicio[45]', @ViewBag.Valor[45]],
                    ['@ViewBag.FechaInicio[46]', @ViewBag.Valor[46]],
                    ['@ViewBag.FechaInicio[47]', @ViewBag.Valor[47]],
                    ['@ViewBag.FechaInicio[48]', @ViewBag.Valor[48]],
                    ['@ViewBag.FechaInicio[49]', @ViewBag.Valor[49]],
                    ['@ViewBag.FechaInicio[50]', @ViewBag.Valor[50]],
                    ['@ViewBag.FechaInicio[51]', @ViewBag.Valor[51]],
                    ['@ViewBag.FechaInicio[52]', @ViewBag.Valor[52]],
                    ['@ViewBag.FechaInicio[53]', @ViewBag.Valor[53]],
                    ['@ViewBag.FechaInicio[54]', @ViewBag.Valor[54]],
                    ['@ViewBag.FechaInicio[55]', @ViewBag.Valor[55]],
                    ['@ViewBag.FechaInicio[56]', @ViewBag.Valor[56]],
                    ['@ViewBag.FechaInicio[57]', @ViewBag.Valor[57]],
                    ['@ViewBag.FechaInicio[58]', @ViewBag.Valor[58]],
                    ['@ViewBag.FechaInicio[59]', @ViewBag.Valor[59]],
                    ['@ViewBag.FechaInicio[60]', @ViewBag.Valor[60]],
                    ['@ViewBag.FechaInicio[61]', @ViewBag.Valor[61]],
                    ['@ViewBag.FechaInicio[62]', @ViewBag.Valor[62]],
                    ['@ViewBag.FechaInicio[63]', @ViewBag.Valor[63]],
                    ['@ViewBag.FechaInicio[64]', @ViewBag.Valor[64]],
                    ['@ViewBag.FechaInicio[65]', @ViewBag.Valor[65]],
                    ['@ViewBag.FechaInicio[66]', @ViewBag.Valor[66]],
                    ['@ViewBag.FechaInicio[67]', @ViewBag.Valor[67]],
                    ['@ViewBag.FechaInicio[68]', @ViewBag.Valor[68]],
                    ['@ViewBag.FechaInicio[69]', @ViewBag.Valor[69]],
                    ['@ViewBag.FechaInicio[70]', @ViewBag.Valor[70]],
                    ['@ViewBag.FechaInicio[81]', @ViewBag.Valor[81]],
                    ['@ViewBag.FechaInicio[82]', @ViewBag.Valor[82]],
                    ['@ViewBag.FechaInicio[83]', @ViewBag.Valor[83]],
                    ['@ViewBag.FechaInicio[84]', @ViewBag.Valor[84]],
                    ['@ViewBag.FechaInicio[85]', @ViewBag.Valor[85]],
                    ['@ViewBag.FechaInicio[86]', @ViewBag.Valor[86]],
                    ['@ViewBag.FechaInicio[87]', @ViewBag.Valor[87]],
                    ['@ViewBag.FechaInicio[88]', @ViewBag.Valor[88]],
                    ['@ViewBag.FechaInicio[89]', @ViewBag.Valor[89]],
                    ['@ViewBag.FechaInicio[90]', @ViewBag.Valor[90]],
                    ['@ViewBag.FechaInicio[91]', @ViewBag.Valor[91]],
                    ['@ViewBag.FechaInicio[92]', @ViewBag.Valor[92]],
                    ['@ViewBag.FechaInicio[93]', @ViewBag.Valor[93]],
                    ['@ViewBag.FechaInicio[94]', @ViewBag.Valor[94]],
                    ['@ViewBag.FechaInicio[95]', @ViewBag.Valor[95]],
                    ['@ViewBag.FechaInicio[96]', @ViewBag.Valor[96]],
                    ['@ViewBag.FechaInicio[97]', @ViewBag.Valor[97]],
                    ['@ViewBag.FechaInicio[98]', @ViewBag.Valor[98]],
                    ['@ViewBag.FechaInicio[99]', @ViewBag.Valor[99]],
                    ['@ViewBag.FechaInicio[100]', @ViewBag.Valor[100]],
                    @*['@ViewBag.FechaInicio[101]', @ViewBag.Valor[101]],
                    ['@ViewBag.FechaInicio[102]', @ViewBag.Valor[102]],
                    ['@ViewBag.FechaInicio[103]', @ViewBag.Valor[103]],
                    ['@ViewBag.FechaInicio[104]', @ViewBag.Valor[104]],
                    ['@ViewBag.FechaInicio[105]', @ViewBag.Valor[105]],
                    ['@ViewBag.FechaInicio[106]', @ViewBag.Valor[106]],
                    ['@ViewBag.FechaInicio[107]', @ViewBag.Valor[107]],
                    ['@ViewBag.FechaInicio[108]', @ViewBag.Valor[108]],
                    ['@ViewBag.FechaInicio[109]', @ViewBag.Valor[109]],
                    ['@ViewBag.FechaInicio[110]', @ViewBag.Valor[110]],
                    ['@ViewBag.FechaInicio[111]', @ViewBag.Valor[111]],
                    ['@ViewBag.FechaInicio[112]', @ViewBag.Valor[112]],
                    ['@ViewBag.FechaInicio[113]', @ViewBag.Valor[113]],
                    ['@ViewBag.FechaInicio[114]', @ViewBag.Valor[114]],
                    ['@ViewBag.FechaInicio[115]', @ViewBag.Valor[115]],
                    ['@ViewBag.FechaInicio[116]', @ViewBag.Valor[116]],
                    ['@ViewBag.FechaInicio[117]', @ViewBag.Valor[117]],
                    ['@ViewBag.FechaInicio[118]', @ViewBag.Valor[118]],
                    ['@ViewBag.FechaInicio[119]', @ViewBag.Valor[119]],
                    ['@ViewBag.FechaInicio[120]', @ViewBag.Valor[120]],
                    ['@ViewBag.FechaInicio[121]', @ViewBag.Valor[121]],
                    ['@ViewBag.FechaInicio[122]', @ViewBag.Valor[122]],
                    ['@ViewBag.FechaInicio[123]', @ViewBag.Valor[123]],
                    ['@ViewBag.FechaInicio[124]', @ViewBag.Valor[124]],
                    ['@ViewBag.FechaInicio[125]', @ViewBag.Valor[125]],
                    ['@ViewBag.FechaInicio[126]', @ViewBag.Valor[126]],
                    ['@ViewBag.FechaInicio[127]', @ViewBag.Valor[127]],
                    ['@ViewBag.FechaInicio[128]', @ViewBag.Valor[128]],
                    ['@ViewBag.FechaInicio[129]', @ViewBag.Valor[129]],
                    ['@ViewBag.FechaInicio[130]', @ViewBag.Valor[130]],
                    ['@ViewBag.FechaInicio[131]', @ViewBag.Valor[131]],
                    ['@ViewBag.FechaInicio[132]', @ViewBag.Valor[132]],
                    ['@ViewBag.FechaInicio[133]', @ViewBag.Valor[133]],
                    ['@ViewBag.FechaInicio[134]', @ViewBag.Valor[134]],
                    ['@ViewBag.FechaInicio[135]', @ViewBag.Valor[135]],
                    ['@ViewBag.FechaInicio[136]', @ViewBag.Valor[136]],
                    ['@ViewBag.FechaInicio[137]', @ViewBag.Valor[137]],
                    ['@ViewBag.FechaInicio[138]', @ViewBag.Valor[138]],
                    ['@ViewBag.FechaInicio[139]', @ViewBag.Valor[139]],
                    ['@ViewBag.FechaInicio[140]', @ViewBag.Valor[140]],
                    ['@ViewBag.FechaInicio[141]', @ViewBag.Valor[141]],
                    ['@ViewBag.FechaInicio[142]', @ViewBag.Valor[142]],
                    ['@ViewBag.FechaInicio[143]', @ViewBag.Valor[143]],
                    ['@ViewBag.FechaInicio[144]', @ViewBag.Valor[144]],
                    ['@ViewBag.FechaInicio[145]', @ViewBag.Valor[145]],
                    ['@ViewBag.FechaInicio[146]', @ViewBag.Valor[146]],
                    ['@ViewBag.FechaInicio[147]', @ViewBag.Valor[147]],
                    ['@ViewBag.FechaInicio[148]', @ViewBag.Valor[148]],
                    ['@ViewBag.FechaInicio[149]', @ViewBag.Valor[149]],
                    ['@ViewBag.FechaInicio[150]', @ViewBag.Valor[150]],*@
                    ['@ViewBag.FechaInicio[151]', @ViewBag.Valor[151]],
                    ['@ViewBag.FechaInicio[152]', @ViewBag.Valor[152]],
                    ['@ViewBag.FechaInicio[153]', @ViewBag.Valor[153]],
                    ['@ViewBag.FechaInicio[154]', @ViewBag.Valor[154]],
                    ['@ViewBag.FechaInicio[155]', @ViewBag.Valor[155]],
                    ['@ViewBag.FechaInicio[156]', @ViewBag.Valor[156]],
                    ['@ViewBag.FechaInicio[157]', @ViewBag.Valor[157]],
                    ['@ViewBag.FechaInicio[158]', @ViewBag.Valor[158]],
                    ['@ViewBag.FechaInicio[159]', @ViewBag.Valor[159]],
                    ['@ViewBag.FechaInicio[160]', @ViewBag.Valor[160]],
                    ['@ViewBag.FechaInicio[161]', @ViewBag.Valor[161]],
                    ['@ViewBag.FechaInicio[162]', @ViewBag.Valor[162]],
                    ['@ViewBag.FechaInicio[163]', @ViewBag.Valor[163]],
                    ['@ViewBag.FechaInicio[164]', @ViewBag.Valor[164]],
                    ['@ViewBag.FechaInicio[165]', @ViewBag.Valor[165]],
                    ['@ViewBag.FechaInicio[166]', @ViewBag.Valor[166]],
                    ['@ViewBag.FechaInicio[167]', @ViewBag.Valor[167]],
                    ['@ViewBag.FechaInicio[168]', @ViewBag.Valor[168]],
                    ['@ViewBag.FechaInicio[169]', @ViewBag.Valor[169]],
                    ['@ViewBag.FechaInicio[170]', @ViewBag.Valor[170]],
                    ['@ViewBag.FechaInicio[171]', @ViewBag.Valor[171]],
                    ['@ViewBag.FechaInicio[172]', @ViewBag.Valor[172]],
                    ['@ViewBag.FechaInicio[173]', @ViewBag.Valor[173]],
                    ['@ViewBag.FechaInicio[174]', @ViewBag.Valor[174]],
                    ['@ViewBag.FechaInicio[175]', @ViewBag.Valor[175]],
                    ['@ViewBag.FechaInicio[176]', @ViewBag.Valor[176]],
                    ['@ViewBag.FechaInicio[177]', @ViewBag.Valor[177]],
                    ['@ViewBag.FechaInicio[178]', @ViewBag.Valor[178]],
                    ['@ViewBag.FechaInicio[179]', @ViewBag.Valor[179]],
                    ['@ViewBag.FechaInicio[180]', @ViewBag.Valor[180]],
                    ['@ViewBag.FechaInicio[181]', @ViewBag.Valor[181]],
                    ['@ViewBag.FechaInicio[182]', @ViewBag.Valor[182]],
                    ['@ViewBag.FechaInicio[183]', @ViewBag.Valor[183]],
                    ['@ViewBag.FechaInicio[184]', @ViewBag.Valor[184]],
                    ['@ViewBag.FechaInicio[185]', @ViewBag.Valor[185]],
                    ['@ViewBag.FechaInicio[186]', @ViewBag.Valor[186]],
                    ['@ViewBag.FechaInicio[187]', @ViewBag.Valor[187]],
                    ['@ViewBag.FechaInicio[188]', @ViewBag.Valor[188]],
                    ['@ViewBag.FechaInicio[189]', @ViewBag.Valor[189]],
                    ['@ViewBag.FechaInicio[190]', @ViewBag.Valor[190]],
                    ['@ViewBag.FechaInicio[191]', @ViewBag.Valor[191]],
                    ['@ViewBag.FechaInicio[192]', @ViewBag.Valor[192]],
                    ['@ViewBag.FechaInicio[193]', @ViewBag.Valor[193]],
                    ['@ViewBag.FechaInicio[194]', @ViewBag.Valor[194]],
                    ['@ViewBag.FechaInicio[195]', @ViewBag.Valor[195]],
                    ['@ViewBag.FechaInicio[196]', @ViewBag.Valor[196]],
                    ['@ViewBag.FechaInicio[197]', @ViewBag.Valor[197]],
                    ['@ViewBag.FechaInicio[198]', @ViewBag.Valor[198]],
                    ['@ViewBag.FechaInicio[199]', @ViewBag.Valor[199]],
                    ['@ViewBag.FechaInicio[200]', @ViewBag.Valor[200]],
                    @*['@ViewBag.FechaInicio[201]', @ViewBag.Valor[201]],
                    ['@ViewBag.FechaInicio[202]', @ViewBag.Valor[202]],
                    ['@ViewBag.FechaInicio[203]', @ViewBag.Valor[203]],
                    ['@ViewBag.FechaInicio[204]', @ViewBag.Valor[204]],
                    ['@ViewBag.FechaInicio[205]', @ViewBag.Valor[205]],
                    ['@ViewBag.FechaInicio[206]', @ViewBag.Valor[206]],
                    ['@ViewBag.FechaInicio[207]', @ViewBag.Valor[207]],
                    ['@ViewBag.FechaInicio[208]', @ViewBag.Valor[208]],
                    ['@ViewBag.FechaInicio[209]', @ViewBag.Valor[209]],
                    ['@ViewBag.FechaInicio[210]', @ViewBag.Valor[210]],
                    ['@ViewBag.FechaInicio[211]', @ViewBag.Valor[211]],
                    ['@ViewBag.FechaInicio[212]', @ViewBag.Valor[212]],
                    ['@ViewBag.FechaInicio[213]', @ViewBag.Valor[213]],
                    ['@ViewBag.FechaInicio[214]', @ViewBag.Valor[214]],
                    ['@ViewBag.FechaInicio[215]', @ViewBag.Valor[215]],
                    ['@ViewBag.FechaInicio[216]', @ViewBag.Valor[216]],
                    ['@ViewBag.FechaInicio[217]', @ViewBag.Valor[217]],
                    ['@ViewBag.FechaInicio[218]', @ViewBag.Valor[218]],
                    ['@ViewBag.FechaInicio[219]', @ViewBag.Valor[219]],
                    ['@ViewBag.FechaInicio[220]', @ViewBag.Valor[220]],
                    ['@ViewBag.FechaInicio[221]', @ViewBag.Valor[221]],
                    ['@ViewBag.FechaInicio[222]', @ViewBag.Valor[222]],
                    ['@ViewBag.FechaInicio[223]', @ViewBag.Valor[223]],
                    ['@ViewBag.FechaInicio[224]', @ViewBag.Valor[224]],
                    ['@ViewBag.FechaInicio[225]', @ViewBag.Valor[225]],
                    ['@ViewBag.FechaInicio[226]', @ViewBag.Valor[226]],
                    ['@ViewBag.FechaInicio[227]', @ViewBag.Valor[227]],
                    ['@ViewBag.FechaInicio[228]', @ViewBag.Valor[228]],
                    ['@ViewBag.FechaInicio[229]', @ViewBag.Valor[229]],
                    ['@ViewBag.FechaInicio[230]', @ViewBag.Valor[230]],
                    ['@ViewBag.FechaInicio[231]', @ViewBag.Valor[231]],
                    ['@ViewBag.FechaInicio[232]', @ViewBag.Valor[232]],
                    ['@ViewBag.FechaInicio[233]', @ViewBag.Valor[233]],
                    ['@ViewBag.FechaInicio[234]', @ViewBag.Valor[234]],
                    ['@ViewBag.FechaInicio[235]', @ViewBag.Valor[235]],
                    ['@ViewBag.FechaInicio[236]', @ViewBag.Valor[236]],
                    ['@ViewBag.FechaInicio[237]', @ViewBag.Valor[237]],
                    ['@ViewBag.FechaInicio[238]', @ViewBag.Valor[238]],
                    ['@ViewBag.FechaInicio[239]', @ViewBag.Valor[239]],
                    ['@ViewBag.FechaInicio[240]', @ViewBag.Valor[240]],
                    ['@ViewBag.FechaInicio[241]', @ViewBag.Valor[241]],
                    ['@ViewBag.FechaInicio[242]', @ViewBag.Valor[242]],
                    ['@ViewBag.FechaInicio[243]', @ViewBag.Valor[243]],
                    ['@ViewBag.FechaInicio[244]', @ViewBag.Valor[244]],
                    ['@ViewBag.FechaInicio[245]', @ViewBag.Valor[245]],
                    ['@ViewBag.FechaInicio[246]', @ViewBag.Valor[246]],
                    ['@ViewBag.FechaInicio[247]', @ViewBag.Valor[247]],
                    ['@ViewBag.FechaInicio[248]', @ViewBag.Valor[248]],
                    ['@ViewBag.FechaInicio[249]', @ViewBag.Valor[249]],
                    ['@ViewBag.FechaInicio[250]', @ViewBag.Valor[250]],*@
                    ['@ViewBag.FechaInicio[251]', @ViewBag.Valor[251]],
                    ['@ViewBag.FechaInicio[252]', @ViewBag.Valor[252]],
                    ['@ViewBag.FechaInicio[253]', @ViewBag.Valor[253]],
                    ['@ViewBag.FechaInicio[254]', @ViewBag.Valor[254]],
                    ['@ViewBag.FechaInicio[255]', @ViewBag.Valor[255]],
                    ['@ViewBag.FechaInicio[256]', @ViewBag.Valor[256]],
                    ['@ViewBag.FechaInicio[257]', @ViewBag.Valor[257]],
                    ['@ViewBag.FechaInicio[258]', @ViewBag.Valor[258]],
                    ['@ViewBag.FechaInicio[259]', @ViewBag.Valor[259]],
                    ['@ViewBag.FechaInicio[260]', @ViewBag.Valor[260]],
                    ['@ViewBag.FechaInicio[261]', @ViewBag.Valor[261]],
                    ['@ViewBag.FechaInicio[262]', @ViewBag.Valor[262]],
                    ['@ViewBag.FechaInicio[263]', @ViewBag.Valor[263]],
                    ['@ViewBag.FechaInicio[264]', @ViewBag.Valor[264]],
                    ['@ViewBag.FechaInicio[265]', @ViewBag.Valor[265]],
                    ['@ViewBag.FechaInicio[266]', @ViewBag.Valor[266]],
                    ['@ViewBag.FechaInicio[267]', @ViewBag.Valor[267]],
                    ['@ViewBag.FechaInicio[268]', @ViewBag.Valor[268]],
                    ['@ViewBag.FechaInicio[269]', @ViewBag.Valor[269]],
                    ['@ViewBag.FechaInicio[270]', @ViewBag.Valor[270]],
                    ['@ViewBag.FechaInicio[281]', @ViewBag.Valor[281]],
                    ['@ViewBag.FechaInicio[282]', @ViewBag.Valor[282]],
                    ['@ViewBag.FechaInicio[283]', @ViewBag.Valor[283]],
                    ['@ViewBag.FechaInicio[284]', @ViewBag.Valor[284]],
                    ['@ViewBag.FechaInicio[285]', @ViewBag.Valor[285]],
                    ['@ViewBag.FechaInicio[286]', @ViewBag.Valor[286]],
                    ['@ViewBag.FechaInicio[287]', @ViewBag.Valor[287]],
                    ['@ViewBag.FechaInicio[288]', @ViewBag.Valor[288]],
                    ['@ViewBag.FechaInicio[289]', @ViewBag.Valor[289]],
                    ['@ViewBag.FechaInicio[290]', @ViewBag.Valor[290]],
                    ['@ViewBag.FechaInicio[291]', @ViewBag.Valor[291]],
                    ['@ViewBag.FechaInicio[292]', @ViewBag.Valor[292]],
                    ['@ViewBag.FechaInicio[293]', @ViewBag.Valor[293]],
                    ['@ViewBag.FechaInicio[294]', @ViewBag.Valor[294]],
                    ['@ViewBag.FechaInicio[295]', @ViewBag.Valor[295]],
                    ['@ViewBag.FechaInicio[296]', @ViewBag.Valor[296]],
                    ['@ViewBag.FechaInicio[297]', @ViewBag.Valor[297]],
                    ['@ViewBag.FechaInicio[298]', @ViewBag.Valor[298]],
                    ['@ViewBag.FechaInicio[299]', @ViewBag.Valor[299]],
                    ['@ViewBag.FechaInicio[300]', @ViewBag.Valor[300]],
                    @*['@ViewBag.FechaInicio[301]', @ViewBag.Valor[301]],
                    ['@ViewBag.FechaInicio[302]', @ViewBag.Valor[302]],
                    ['@ViewBag.FechaInicio[303]', @ViewBag.Valor[303]],
                    ['@ViewBag.FechaInicio[304]', @ViewBag.Valor[304]],
                    ['@ViewBag.FechaInicio[305]', @ViewBag.Valor[305]],
                    ['@ViewBag.FechaInicio[306]', @ViewBag.Valor[306]],
                    ['@ViewBag.FechaInicio[307]', @ViewBag.Valor[307]],
                    ['@ViewBag.FechaInicio[308]', @ViewBag.Valor[308]],
                    ['@ViewBag.FechaInicio[309]', @ViewBag.Valor[309]],
                    ['@ViewBag.FechaInicio[310]', @ViewBag.Valor[310]],
                    ['@ViewBag.FechaInicio[311]', @ViewBag.Valor[311]],
                    ['@ViewBag.FechaInicio[312]', @ViewBag.Valor[312]],
                    ['@ViewBag.FechaInicio[313]', @ViewBag.Valor[313]],
                    ['@ViewBag.FechaInicio[314]', @ViewBag.Valor[314]],
                    ['@ViewBag.FechaInicio[315]', @ViewBag.Valor[315]],
                    ['@ViewBag.FechaInicio[316]', @ViewBag.Valor[316]],
                    ['@ViewBag.FechaInicio[317]', @ViewBag.Valor[317]],
                    ['@ViewBag.FechaInicio[318]', @ViewBag.Valor[318]],
                    ['@ViewBag.FechaInicio[319]', @ViewBag.Valor[319]],
                    ['@ViewBag.FechaInicio[320]', @ViewBag.Valor[320]],
                    ['@ViewBag.FechaInicio[321]', @ViewBag.Valor[321]],
                    ['@ViewBag.FechaInicio[322]', @ViewBag.Valor[322]],
                    ['@ViewBag.FechaInicio[323]', @ViewBag.Valor[323]],
                    ['@ViewBag.FechaInicio[324]', @ViewBag.Valor[324]],
                    ['@ViewBag.FechaInicio[325]', @ViewBag.Valor[325]],
                    ['@ViewBag.FechaInicio[326]', @ViewBag.Valor[326]],
                    ['@ViewBag.FechaInicio[327]', @ViewBag.Valor[327]],
                    ['@ViewBag.FechaInicio[328]', @ViewBag.Valor[328]],
                    ['@ViewBag.FechaInicio[329]', @ViewBag.Valor[329]],
                    ['@ViewBag.FechaInicio[330]', @ViewBag.Valor[330]],
                    ['@ViewBag.FechaInicio[331]', @ViewBag.Valor[331]],
                    ['@ViewBag.FechaInicio[332]', @ViewBag.Valor[332]],
                    ['@ViewBag.FechaInicio[333]', @ViewBag.Valor[333]],
                    ['@ViewBag.FechaInicio[334]', @ViewBag.Valor[334]],
                    ['@ViewBag.FechaInicio[335]', @ViewBag.Valor[335]],
                    ['@ViewBag.FechaInicio[336]', @ViewBag.Valor[336]],
                    ['@ViewBag.FechaInicio[337]', @ViewBag.Valor[337]],
                    ['@ViewBag.FechaInicio[338]', @ViewBag.Valor[338]],
                    ['@ViewBag.FechaInicio[339]', @ViewBag.Valor[339]],
                    ['@ViewBag.FechaInicio[340]', @ViewBag.Valor[340]],
                    ['@ViewBag.FechaInicio[341]', @ViewBag.Valor[341]],
                    ['@ViewBag.FechaInicio[342]', @ViewBag.Valor[342]],
                    ['@ViewBag.FechaInicio[343]', @ViewBag.Valor[343]],
                    ['@ViewBag.FechaInicio[344]', @ViewBag.Valor[344]],
                    ['@ViewBag.FechaInicio[345]', @ViewBag.Valor[345]],
                    ['@ViewBag.FechaInicio[346]', @ViewBag.Valor[346]],
                    ['@ViewBag.FechaInicio[347]', @ViewBag.Valor[347]],
                    ['@ViewBag.FechaInicio[348]', @ViewBag.Valor[348]],
                    ['@ViewBag.FechaInicio[349]', @ViewBag.Valor[349]],
                    ['@ViewBag.FechaInicio[350]', @ViewBag.Valor[350]],*@
                    ['@ViewBag.FechaInicio[351]', @ViewBag.Valor[351]],
                    ['@ViewBag.FechaInicio[352]', @ViewBag.Valor[352]],
                    ['@ViewBag.FechaInicio[353]', @ViewBag.Valor[353]],
                    ['@ViewBag.FechaInicio[354]', @ViewBag.Valor[354]],
                    ['@ViewBag.FechaInicio[355]', @ViewBag.Valor[355]],
                    ['@ViewBag.FechaInicio[356]', @ViewBag.Valor[356]],
                    ['@ViewBag.FechaInicio[357]', @ViewBag.Valor[357]],
                    ['@ViewBag.FechaInicio[358]', @ViewBag.Valor[358]],
                    ['@ViewBag.FechaInicio[359]', @ViewBag.Valor[359]],
                    ['@ViewBag.FechaInicio[360]', @ViewBag.Valor[360]],
                    ['@ViewBag.FechaInicio[361]', @ViewBag.Valor[361]],
                    ['@ViewBag.FechaInicio[362]', @ViewBag.Valor[362]],
                    ['@ViewBag.FechaInicio[363]', @ViewBag.Valor[363]],
                    ['@ViewBag.FechaInicio[364]', @ViewBag.Valor[364]],
                    ['@ViewBag.FechaInicio[365]', @ViewBag.Valor[365]],
                    ['@ViewBag.FechaInicio[366]', @ViewBag.Valor[366]],
                    ['@ViewBag.FechaInicio[367]', @ViewBag.Valor[367]],
                    ['@ViewBag.FechaInicio[368]', @ViewBag.Valor[368]],
                    ['@ViewBag.FechaInicio[369]', @ViewBag.Valor[369]],
                    ['@ViewBag.FechaInicio[370]', @ViewBag.Valor[370]],
                    ['@ViewBag.FechaInicio[371]', @ViewBag.Valor[371]],
                    ['@ViewBag.FechaInicio[372]', @ViewBag.Valor[372]],
                    ['@ViewBag.FechaInicio[373]', @ViewBag.Valor[373]],
                    ['@ViewBag.FechaInicio[374]', @ViewBag.Valor[374]],
                    ['@ViewBag.FechaInicio[375]', @ViewBag.Valor[375]],
                    ['@ViewBag.FechaInicio[376]', @ViewBag.Valor[376]],
                    ['@ViewBag.FechaInicio[377]', @ViewBag.Valor[377]],
                    ['@ViewBag.FechaInicio[378]', @ViewBag.Valor[378]],
                    ['@ViewBag.FechaInicio[379]', @ViewBag.Valor[379]],
                    ['@ViewBag.FechaInicio[380]', @ViewBag.Valor[380]],
                    ['@ViewBag.FechaInicio[381]', @ViewBag.Valor[381]],
                    ['@ViewBag.FechaInicio[382]', @ViewBag.Valor[382]],
                    ['@ViewBag.FechaInicio[383]', @ViewBag.Valor[383]],
                    ['@ViewBag.FechaInicio[384]', @ViewBag.Valor[384]],
                    ['@ViewBag.FechaInicio[385]', @ViewBag.Valor[385]],
                    ['@ViewBag.FechaInicio[386]', @ViewBag.Valor[386]],
                    ['@ViewBag.FechaInicio[387]', @ViewBag.Valor[387]],
                    ['@ViewBag.FechaInicio[388]', @ViewBag.Valor[388]],
                    ['@ViewBag.FechaInicio[389]', @ViewBag.Valor[389]],
                    ['@ViewBag.FechaInicio[390]', @ViewBag.Valor[390]],
                    ['@ViewBag.FechaInicio[391]', @ViewBag.Valor[391]],
                    ['@ViewBag.FechaInicio[392]', @ViewBag.Valor[392]],
                    ['@ViewBag.FechaInicio[393]', @ViewBag.Valor[393]],
                    ['@ViewBag.FechaInicio[394]', @ViewBag.Valor[394]],
                    ['@ViewBag.FechaInicio[395]', @ViewBag.Valor[395]],
                    ['@ViewBag.FechaInicio[396]', @ViewBag.Valor[396]],
                    ['@ViewBag.FechaInicio[397]', @ViewBag.Valor[397]],
                    ['@ViewBag.FechaInicio[398]', @ViewBag.Valor[398]],
                    ['@ViewBag.FechaInicio[399]', @ViewBag.Valor[399]],
                    ['@ViewBag.FechaInicio[400]', @ViewBag.Valor[400]],
                    @*['@ViewBag.FechaInicio[401]', @ViewBag.Valor[401]],
                    ['@ViewBag.FechaInicio[402]', @ViewBag.Valor[402]],
                    ['@ViewBag.FechaInicio[403]', @ViewBag.Valor[403]],
                    ['@ViewBag.FechaInicio[404]', @ViewBag.Valor[404]],
                    ['@ViewBag.FechaInicio[405]', @ViewBag.Valor[405]],
                    ['@ViewBag.FechaInicio[406]', @ViewBag.Valor[406]],
                    ['@ViewBag.FechaInicio[407]', @ViewBag.Valor[407]],
                    ['@ViewBag.FechaInicio[408]', @ViewBag.Valor[408]],
                    ['@ViewBag.FechaInicio[409]', @ViewBag.Valor[409]],
                    ['@ViewBag.FechaInicio[410]', @ViewBag.Valor[410]],
                    ['@ViewBag.FechaInicio[411]', @ViewBag.Valor[411]],
                    ['@ViewBag.FechaInicio[412]', @ViewBag.Valor[412]],
                    ['@ViewBag.FechaInicio[413]', @ViewBag.Valor[413]],
                    ['@ViewBag.FechaInicio[414]', @ViewBag.Valor[414]],
                    ['@ViewBag.FechaInicio[415]', @ViewBag.Valor[415]],
                    ['@ViewBag.FechaInicio[416]', @ViewBag.Valor[416]],
                    ['@ViewBag.FechaInicio[417]', @ViewBag.Valor[417]],
                    ['@ViewBag.FechaInicio[418]', @ViewBag.Valor[418]],
                    ['@ViewBag.FechaInicio[419]', @ViewBag.Valor[419]],
                    ['@ViewBag.FechaInicio[420]', @ViewBag.Valor[420]],
                    ['@ViewBag.FechaInicio[421]', @ViewBag.Valor[421]],
                    ['@ViewBag.FechaInicio[422]', @ViewBag.Valor[422]],
                    ['@ViewBag.FechaInicio[423]', @ViewBag.Valor[423]],
                    ['@ViewBag.FechaInicio[424]', @ViewBag.Valor[424]],
                    ['@ViewBag.FechaInicio[425]', @ViewBag.Valor[425]],
                    ['@ViewBag.FechaInicio[426]', @ViewBag.Valor[426]],
                    ['@ViewBag.FechaInicio[427]', @ViewBag.Valor[427]],
                    ['@ViewBag.FechaInicio[428]', @ViewBag.Valor[428]],
                    ['@ViewBag.FechaInicio[429]', @ViewBag.Valor[429]],
                    ['@ViewBag.FechaInicio[430]', @ViewBag.Valor[430]],
                    ['@ViewBag.FechaInicio[431]', @ViewBag.Valor[431]],
                    ['@ViewBag.FechaInicio[432]', @ViewBag.Valor[432]],
                    ['@ViewBag.FechaInicio[433]', @ViewBag.Valor[433]],
                    ['@ViewBag.FechaInicio[434]', @ViewBag.Valor[434]],
                    ['@ViewBag.FechaInicio[435]', @ViewBag.Valor[435]],
                    ['@ViewBag.FechaInicio[436]', @ViewBag.Valor[436]],
                    ['@ViewBag.FechaInicio[437]', @ViewBag.Valor[437]],
                    ['@ViewBag.FechaInicio[438]', @ViewBag.Valor[438]],
                    ['@ViewBag.FechaInicio[439]', @ViewBag.Valor[439]],
                    ['@ViewBag.FechaInicio[440]', @ViewBag.Valor[440]],
                    ['@ViewBag.FechaInicio[441]', @ViewBag.Valor[441]],
                    ['@ViewBag.FechaInicio[442]', @ViewBag.Valor[442]],
                    ['@ViewBag.FechaInicio[443]', @ViewBag.Valor[443]],
                    ['@ViewBag.FechaInicio[444]', @ViewBag.Valor[444]],
                    ['@ViewBag.FechaInicio[445]', @ViewBag.Valor[445]],
                    ['@ViewBag.FechaInicio[446]', @ViewBag.Valor[446]],
                    ['@ViewBag.FechaInicio[447]', @ViewBag.Valor[447]],
                    ['@ViewBag.FechaInicio[448]', @ViewBag.Valor[448]],
                    ['@ViewBag.FechaInicio[449]', @ViewBag.Valor[449]],
                    ['@ViewBag.FechaInicio[450]', @ViewBag.Valor[450]],*@
                    ['@ViewBag.FechaInicio[451]', @ViewBag.Valor[451]],
                    ['@ViewBag.FechaInicio[452]', @ViewBag.Valor[452]],
                    ['@ViewBag.FechaInicio[453]', @ViewBag.Valor[453]],
                    ['@ViewBag.FechaInicio[454]', @ViewBag.Valor[454]],
                    ['@ViewBag.FechaInicio[455]', @ViewBag.Valor[455]],
                    ['@ViewBag.FechaInicio[456]', @ViewBag.Valor[456]],
                    ['@ViewBag.FechaInicio[457]', @ViewBag.Valor[457]],
                    ['@ViewBag.FechaInicio[458]', @ViewBag.Valor[458]],
                    ['@ViewBag.FechaInicio[459]', @ViewBag.Valor[459]],
                    ['@ViewBag.FechaInicio[460]', @ViewBag.Valor[460]],
                    ['@ViewBag.FechaInicio[461]', @ViewBag.Valor[461]],
                    ['@ViewBag.FechaInicio[462]', @ViewBag.Valor[462]],
                    ['@ViewBag.FechaInicio[463]', @ViewBag.Valor[463]],
                    ['@ViewBag.FechaInicio[464]', @ViewBag.Valor[464]],
                    ['@ViewBag.FechaInicio[465]', @ViewBag.Valor[465]],
                    ['@ViewBag.FechaInicio[466]', @ViewBag.Valor[466]],
                    ['@ViewBag.FechaInicio[467]', @ViewBag.Valor[467]],
                    ['@ViewBag.FechaInicio[468]', @ViewBag.Valor[468]],
                    ['@ViewBag.FechaInicio[469]', @ViewBag.Valor[469]],
                    ['@ViewBag.FechaInicio[470]', @ViewBag.Valor[470]],
                    ['@ViewBag.FechaInicio[471]', @ViewBag.Valor[471]],
                    ['@ViewBag.FechaInicio[472]', @ViewBag.Valor[472]],
                    ['@ViewBag.FechaInicio[473]', @ViewBag.Valor[473]],
                    ['@ViewBag.FechaInicio[474]', @ViewBag.Valor[474]],
                    ['@ViewBag.FechaInicio[475]', @ViewBag.Valor[475]],
                    ['@ViewBag.FechaInicio[476]', @ViewBag.Valor[476]],
                    ['@ViewBag.FechaInicio[477]', @ViewBag.Valor[477]],
                    ['@ViewBag.FechaInicio[478]', @ViewBag.Valor[478]],
                    ['@ViewBag.FechaInicio[479]', @ViewBag.Valor[479]],
                    ['@ViewBag.FechaInicio[480]', @ViewBag.Valor[480]],
                    ['@ViewBag.FechaInicio[481]', @ViewBag.Valor[481]],
                    ['@ViewBag.FechaInicio[482]', @ViewBag.Valor[482]],
                    ['@ViewBag.FechaInicio[483]', @ViewBag.Valor[483]],
                    ['@ViewBag.FechaInicio[484]', @ViewBag.Valor[484]],
                    ['@ViewBag.FechaInicio[485]', @ViewBag.Valor[485]],
                    ['@ViewBag.FechaInicio[486]', @ViewBag.Valor[486]],
                    ['@ViewBag.FechaInicio[487]', @ViewBag.Valor[487]],
                    ['@ViewBag.FechaInicio[488]', @ViewBag.Valor[488]],
                    ['@ViewBag.FechaInicio[489]', @ViewBag.Valor[489]],
                    ['@ViewBag.FechaInicio[490]', @ViewBag.Valor[490]],
                    ['@ViewBag.FechaInicio[491]', @ViewBag.Valor[491]],
                    ['@ViewBag.FechaInicio[492]', @ViewBag.Valor[492]],
                    ['@ViewBag.FechaInicio[493]', @ViewBag.Valor[493]],
                    ['@ViewBag.FechaInicio[494]', @ViewBag.Valor[494]],
                    ['@ViewBag.FechaInicio[495]', @ViewBag.Valor[495]],
                    ['@ViewBag.FechaInicio[496]', @ViewBag.Valor[496]],
                    ['@ViewBag.FechaInicio[497]', @ViewBag.Valor[497]],
                    ['@ViewBag.FechaInicio[498]', @ViewBag.Valor[498]],
                    ['@ViewBag.FechaInicio[499]', @ViewBag.Valor[499]],
                    ['@ViewBag.FechaInicio[500]', @ViewBag.Valor[500]],
                    @*['@ViewBag.FechaInicio[501]', @ViewBag.Valor[501]],
                    ['@ViewBag.FechaInicio[502]', @ViewBag.Valor[502]],
                    ['@ViewBag.FechaInicio[503]', @ViewBag.Valor[503]],
                    ['@ViewBag.FechaInicio[504]', @ViewBag.Valor[504]],
                    ['@ViewBag.FechaInicio[505]', @ViewBag.Valor[505]],
                    ['@ViewBag.FechaInicio[506]', @ViewBag.Valor[506]],
                    ['@ViewBag.FechaInicio[507]', @ViewBag.Valor[507]],
                    ['@ViewBag.FechaInicio[508]', @ViewBag.Valor[508]],
                    ['@ViewBag.FechaInicio[509]', @ViewBag.Valor[509]],
                    ['@ViewBag.FechaInicio[510]', @ViewBag.Valor[510]],
                    ['@ViewBag.FechaInicio[511]', @ViewBag.Valor[511]],
                    ['@ViewBag.FechaInicio[512]', @ViewBag.Valor[512]],
                    ['@ViewBag.FechaInicio[513]', @ViewBag.Valor[513]],
                    ['@ViewBag.FechaInicio[514]', @ViewBag.Valor[514]],
                    ['@ViewBag.FechaInicio[515]', @ViewBag.Valor[515]],
                    ['@ViewBag.FechaInicio[516]', @ViewBag.Valor[516]],
                    ['@ViewBag.FechaInicio[517]', @ViewBag.Valor[517]],
                    ['@ViewBag.FechaInicio[518]', @ViewBag.Valor[518]],
                    ['@ViewBag.FechaInicio[519]', @ViewBag.Valor[519]],
                    ['@ViewBag.FechaInicio[520]', @ViewBag.Valor[520]],
                    ['@ViewBag.FechaInicio[521]', @ViewBag.Valor[521]],
                    ['@ViewBag.FechaInicio[522]', @ViewBag.Valor[522]],
                    ['@ViewBag.FechaInicio[523]', @ViewBag.Valor[523]],
                    ['@ViewBag.FechaInicio[524]', @ViewBag.Valor[524]],
                    ['@ViewBag.FechaInicio[525]', @ViewBag.Valor[525]],
                    ['@ViewBag.FechaInicio[526]', @ViewBag.Valor[526]],
                    ['@ViewBag.FechaInicio[527]', @ViewBag.Valor[527]],
                    ['@ViewBag.FechaInicio[528]', @ViewBag.Valor[528]],
                    ['@ViewBag.FechaInicio[529]', @ViewBag.Valor[529]],
                    ['@ViewBag.FechaInicio[530]', @ViewBag.Valor[530]],
                    ['@ViewBag.FechaInicio[531]', @ViewBag.Valor[531]],
                    ['@ViewBag.FechaInicio[532]', @ViewBag.Valor[532]],
                    ['@ViewBag.FechaInicio[533]', @ViewBag.Valor[533]],
                    ['@ViewBag.FechaInicio[534]', @ViewBag.Valor[534]],
                    ['@ViewBag.FechaInicio[535]', @ViewBag.Valor[535]],
                    ['@ViewBag.FechaInicio[536]', @ViewBag.Valor[536]],
                    ['@ViewBag.FechaInicio[537]', @ViewBag.Valor[537]],
                    ['@ViewBag.FechaInicio[538]', @ViewBag.Valor[538]],
                    ['@ViewBag.FechaInicio[539]', @ViewBag.Valor[539]],
                    ['@ViewBag.FechaInicio[540]', @ViewBag.Valor[540]],
                    ['@ViewBag.FechaInicio[541]', @ViewBag.Valor[541]],
                    ['@ViewBag.FechaInicio[542]', @ViewBag.Valor[542]],
                    ['@ViewBag.FechaInicio[543]', @ViewBag.Valor[543]],
                    ['@ViewBag.FechaInicio[544]', @ViewBag.Valor[544]],
                    ['@ViewBag.FechaInicio[545]', @ViewBag.Valor[545]],
                    ['@ViewBag.FechaInicio[546]', @ViewBag.Valor[546]],
                    ['@ViewBag.FechaInicio[547]', @ViewBag.Valor[547]],
                    ['@ViewBag.FechaInicio[548]', @ViewBag.Valor[548]],
                    ['@ViewBag.FechaInicio[549]', @ViewBag.Valor[549]],
                    ['@ViewBag.FechaInicio[550]', @ViewBag.Valor[550]],*@
                    ['@ViewBag.FechaInicio[551]', @ViewBag.Valor[551]],
                    ['@ViewBag.FechaInicio[552]', @ViewBag.Valor[552]],
                    ['@ViewBag.FechaInicio[553]', @ViewBag.Valor[553]],
                    ['@ViewBag.FechaInicio[554]', @ViewBag.Valor[554]],
                    ['@ViewBag.FechaInicio[555]', @ViewBag.Valor[555]],
                    ['@ViewBag.FechaInicio[556]', @ViewBag.Valor[556]],
                    ['@ViewBag.FechaInicio[557]', @ViewBag.Valor[557]],
                    ['@ViewBag.FechaInicio[558]', @ViewBag.Valor[558]],
                    ['@ViewBag.FechaInicio[559]', @ViewBag.Valor[559]],
                    ['@ViewBag.FechaInicio[560]', @ViewBag.Valor[560]],
                    ['@ViewBag.FechaInicio[561]', @ViewBag.Valor[561]],
                    ['@ViewBag.FechaInicio[562]', @ViewBag.Valor[562]],
                    ['@ViewBag.FechaInicio[563]', @ViewBag.Valor[563]],
                    ['@ViewBag.FechaInicio[564]', @ViewBag.Valor[564]],
                    ['@ViewBag.FechaInicio[565]', @ViewBag.Valor[565]],
                    ['@ViewBag.FechaInicio[566]', @ViewBag.Valor[566]],
                    ['@ViewBag.FechaInicio[567]', @ViewBag.Valor[567]],
                    ['@ViewBag.FechaInicio[568]', @ViewBag.Valor[568]],
                    ['@ViewBag.FechaInicio[569]', @ViewBag.Valor[569]],
                    ['@ViewBag.FechaInicio[570]', @ViewBag.Valor[570]],
                    ['@ViewBag.FechaInicio[571]', @ViewBag.Valor[571]],
                    ['@ViewBag.FechaInicio[572]', @ViewBag.Valor[572]],
                    ['@ViewBag.FechaInicio[573]', @ViewBag.Valor[573]],
                    ['@ViewBag.FechaInicio[574]', @ViewBag.Valor[574]],
                    ['@ViewBag.FechaInicio[575]', @ViewBag.Valor[575]],
                    ['@ViewBag.FechaInicio[576]', @ViewBag.Valor[576]],
                    ['@ViewBag.FechaInicio[577]', @ViewBag.Valor[577]],
                    ['@ViewBag.FechaInicio[578]', @ViewBag.Valor[578]],
                    ['@ViewBag.FechaInicio[579]', @ViewBag.Valor[579]],
                    ['@ViewBag.FechaInicio[580]', @ViewBag.Valor[580]],
                    ['@ViewBag.FechaInicio[581]', @ViewBag.Valor[581]],
                    ['@ViewBag.FechaInicio[582]', @ViewBag.Valor[582]],
                    ['@ViewBag.FechaInicio[583]', @ViewBag.Valor[583]],
                    ['@ViewBag.FechaInicio[584]', @ViewBag.Valor[584]],
                    ['@ViewBag.FechaInicio[585]', @ViewBag.Valor[585]],
                    ['@ViewBag.FechaInicio[586]', @ViewBag.Valor[586]],
                    ['@ViewBag.FechaInicio[587]', @ViewBag.Valor[587]],
                    ['@ViewBag.FechaInicio[588]', @ViewBag.Valor[588]],
                    ['@ViewBag.FechaInicio[589]', @ViewBag.Valor[589]],
                    ['@ViewBag.FechaInicio[590]', @ViewBag.Valor[590]],
                    ['@ViewBag.FechaInicio[591]', @ViewBag.Valor[591]],
                    ['@ViewBag.FechaInicio[592]', @ViewBag.Valor[592]],
                    ['@ViewBag.FechaInicio[593]', @ViewBag.Valor[593]],
                    ['@ViewBag.FechaInicio[594]', @ViewBag.Valor[594]],
                    ['@ViewBag.FechaInicio[595]', @ViewBag.Valor[595]],
                    ['@ViewBag.FechaInicio[596]', @ViewBag.Valor[596]],
                    ['@ViewBag.FechaInicio[597]', @ViewBag.Valor[597]],
                    ['@ViewBag.FechaInicio[598]', @ViewBag.Valor[598]],
                    ['@ViewBag.FechaInicio[599]', @ViewBag.Valor[599]],
                    ['@ViewBag.FechaInicio[600]', @ViewBag.Valor[600]],
                    @*['@ViewBag.FechaInicio[601]', @ViewBag.Valor[601]],
                    ['@ViewBag.FechaInicio[602]', @ViewBag.Valor[602]],
                    ['@ViewBag.FechaInicio[603]', @ViewBag.Valor[603]],
                    ['@ViewBag.FechaInicio[604]', @ViewBag.Valor[604]],
                    ['@ViewBag.FechaInicio[605]', @ViewBag.Valor[605]],
                    ['@ViewBag.FechaInicio[606]', @ViewBag.Valor[606]],
                    ['@ViewBag.FechaInicio[607]', @ViewBag.Valor[607]],
                    ['@ViewBag.FechaInicio[608]', @ViewBag.Valor[608]],
                    ['@ViewBag.FechaInicio[609]', @ViewBag.Valor[609]],
                    ['@ViewBag.FechaInicio[610]', @ViewBag.Valor[610]],
                    ['@ViewBag.FechaInicio[611]', @ViewBag.Valor[611]],
                    ['@ViewBag.FechaInicio[612]', @ViewBag.Valor[612]],
                    ['@ViewBag.FechaInicio[613]', @ViewBag.Valor[613]],
                    ['@ViewBag.FechaInicio[614]', @ViewBag.Valor[614]],
                    ['@ViewBag.FechaInicio[615]', @ViewBag.Valor[615]],
                    ['@ViewBag.FechaInicio[616]', @ViewBag.Valor[616]],
                    ['@ViewBag.FechaInicio[617]', @ViewBag.Valor[617]],
                    ['@ViewBag.FechaInicio[618]', @ViewBag.Valor[618]],
                    ['@ViewBag.FechaInicio[619]', @ViewBag.Valor[619]],
                    ['@ViewBag.FechaInicio[620]', @ViewBag.Valor[620]],
                    ['@ViewBag.FechaInicio[621]', @ViewBag.Valor[621]],
                    ['@ViewBag.FechaInicio[622]', @ViewBag.Valor[622]],
                    ['@ViewBag.FechaInicio[623]', @ViewBag.Valor[623]],
                    ['@ViewBag.FechaInicio[624]', @ViewBag.Valor[624]],
                    ['@ViewBag.FechaInicio[625]', @ViewBag.Valor[625]],
                    ['@ViewBag.FechaInicio[626]', @ViewBag.Valor[626]],
                    ['@ViewBag.FechaInicio[627]', @ViewBag.Valor[627]],
                    ['@ViewBag.FechaInicio[628]', @ViewBag.Valor[628]],
                    ['@ViewBag.FechaInicio[629]', @ViewBag.Valor[629]],
                    ['@ViewBag.FechaInicio[630]', @ViewBag.Valor[630]],
                    ['@ViewBag.FechaInicio[631]', @ViewBag.Valor[631]],
                    ['@ViewBag.FechaInicio[632]', @ViewBag.Valor[632]],
                    ['@ViewBag.FechaInicio[633]', @ViewBag.Valor[633]],
                    ['@ViewBag.FechaInicio[634]', @ViewBag.Valor[634]],
                    ['@ViewBag.FechaInicio[635]', @ViewBag.Valor[635]],
                    ['@ViewBag.FechaInicio[636]', @ViewBag.Valor[636]],
                    ['@ViewBag.FechaInicio[637]', @ViewBag.Valor[637]],
                    ['@ViewBag.FechaInicio[638]', @ViewBag.Valor[638]],
                    ['@ViewBag.FechaInicio[639]', @ViewBag.Valor[639]],
                    ['@ViewBag.FechaInicio[640]', @ViewBag.Valor[640]],
                    ['@ViewBag.FechaInicio[641]', @ViewBag.Valor[641]],
                    ['@ViewBag.FechaInicio[642]', @ViewBag.Valor[642]],
                    ['@ViewBag.FechaInicio[643]', @ViewBag.Valor[643]],
                    ['@ViewBag.FechaInicio[644]', @ViewBag.Valor[644]],
                    ['@ViewBag.FechaInicio[645]', @ViewBag.Valor[645]],
                    ['@ViewBag.FechaInicio[646]', @ViewBag.Valor[646]],
                    ['@ViewBag.FechaInicio[647]', @ViewBag.Valor[647]],
                    ['@ViewBag.FechaInicio[648]', @ViewBag.Valor[648]],
                    ['@ViewBag.FechaInicio[649]', @ViewBag.Valor[649]],
                    ['@ViewBag.FechaInicio[650]', @ViewBag.Valor[650]],*@
                    ['@ViewBag.FechaInicio[651]', @ViewBag.Valor[651]],
                    ['@ViewBag.FechaInicio[652]', @ViewBag.Valor[652]],
                    ['@ViewBag.FechaInicio[653]', @ViewBag.Valor[653]],
                    ['@ViewBag.FechaInicio[654]', @ViewBag.Valor[654]],
                    ['@ViewBag.FechaInicio[655]', @ViewBag.Valor[655]],
                    ['@ViewBag.FechaInicio[656]', @ViewBag.Valor[656]],
                    ['@ViewBag.FechaInicio[657]', @ViewBag.Valor[657]],
                    ['@ViewBag.FechaInicio[658]', @ViewBag.Valor[658]],
                    ['@ViewBag.FechaInicio[659]', @ViewBag.Valor[659]],
                    ['@ViewBag.FechaInicio[660]', @ViewBag.Valor[660]],
                    ['@ViewBag.FechaInicio[661]', @ViewBag.Valor[661]],
                    ['@ViewBag.FechaInicio[662]', @ViewBag.Valor[662]],
                    ['@ViewBag.FechaInicio[663]', @ViewBag.Valor[663]],
                    ['@ViewBag.FechaInicio[664]', @ViewBag.Valor[664]],
                    ['@ViewBag.FechaInicio[665]', @ViewBag.Valor[665]],
                    ['@ViewBag.FechaInicio[666]', @ViewBag.Valor[666]],
                    ['@ViewBag.FechaInicio[667]', @ViewBag.Valor[667]],
                    ['@ViewBag.FechaInicio[668]', @ViewBag.Valor[668]],
                    ['@ViewBag.FechaInicio[669]', @ViewBag.Valor[669]],
                    ['@ViewBag.FechaInicio[670]', @ViewBag.Valor[670]],
                    ['@ViewBag.FechaInicio[671]', @ViewBag.Valor[671]],
                    ['@ViewBag.FechaInicio[672]', @ViewBag.Valor[672]],
                    ['@ViewBag.FechaInicio[673]', @ViewBag.Valor[673]],
                    ['@ViewBag.FechaInicio[674]', @ViewBag.Valor[674]],
                    ['@ViewBag.FechaInicio[675]', @ViewBag.Valor[675]],
                    ['@ViewBag.FechaInicio[676]', @ViewBag.Valor[676]],
                    ['@ViewBag.FechaInicio[677]', @ViewBag.Valor[677]],
                    ['@ViewBag.FechaInicio[678]', @ViewBag.Valor[678]],
                    ['@ViewBag.FechaInicio[679]', @ViewBag.Valor[679]],
                    ['@ViewBag.FechaInicio[680]', @ViewBag.Valor[680]],
                    ['@ViewBag.FechaInicio[681]', @ViewBag.Valor[681]],
                    ['@ViewBag.FechaInicio[682]', @ViewBag.Valor[682]],
                    ['@ViewBag.FechaInicio[683]', @ViewBag.Valor[683]],
                    ['@ViewBag.FechaInicio[684]', @ViewBag.Valor[684]],
                    ['@ViewBag.FechaInicio[685]', @ViewBag.Valor[685]],
                    ['@ViewBag.FechaInicio[686]', @ViewBag.Valor[686]],
                    ['@ViewBag.FechaInicio[687]', @ViewBag.Valor[687]],
                    ['@ViewBag.FechaInicio[688]', @ViewBag.Valor[688]],
                    ['@ViewBag.FechaInicio[689]', @ViewBag.Valor[689]],
                    ['@ViewBag.FechaInicio[690]', @ViewBag.Valor[690]],
                    ['@ViewBag.FechaInicio[691]', @ViewBag.Valor[691]],
                    ['@ViewBag.FechaInicio[692]', @ViewBag.Valor[692]],
                    ['@ViewBag.FechaInicio[693]', @ViewBag.Valor[693]],
                    ['@ViewBag.FechaInicio[694]', @ViewBag.Valor[694]],
                    ['@ViewBag.FechaInicio[695]', @ViewBag.Valor[695]],
                    ['@ViewBag.FechaInicio[696]', @ViewBag.Valor[696]],
                    ['@ViewBag.FechaInicio[697]', @ViewBag.Valor[697]],
                    ['@ViewBag.FechaInicio[698]', @ViewBag.Valor[698]],
                    ['@ViewBag.FechaInicio[699]', @ViewBag.Valor[699]],
                    ['@ViewBag.FechaInicio[700]', @ViewBag.Valor[700]],
                    ['@ViewBag.FechaInicio[701]', @ViewBag.Valor[701]],
                    ['@ViewBag.FechaInicio[702]', @ViewBag.Valor[702]],
                    ['@ViewBag.FechaInicio[703]', @ViewBag.Valor[703]],
                    ['@ViewBag.FechaInicio[704]', @ViewBag.Valor[704]],
                    ['@ViewBag.FechaInicio[705]', @ViewBag.Valor[705]],
                    ['@ViewBag.FechaInicio[706]', @ViewBag.Valor[706]],
                    ['@ViewBag.FechaInicio[707]', @ViewBag.Valor[707]],
                    ['@ViewBag.FechaInicio[708]', @ViewBag.Valor[708]],
                    ['@ViewBag.FechaInicio[709]', @ViewBag.Valor[709]],
                    ['@ViewBag.FechaInicio[710]', @ViewBag.Valor[710]],
                    ['@ViewBag.FechaInicio[711]', @ViewBag.Valor[711]],
                    ['@ViewBag.FechaInicio[712]', @ViewBag.Valor[712]],
                    ['@ViewBag.FechaInicio[713]', @ViewBag.Valor[713]],
                    ['@ViewBag.FechaInicio[714]', @ViewBag.Valor[714]],
                    ['@ViewBag.FechaInicio[715]', @ViewBag.Valor[715]],
                    ['@ViewBag.FechaInicio[716]', @ViewBag.Valor[716]],
                    ['@ViewBag.FechaInicio[717]', @ViewBag.Valor[717]],
                    ['@ViewBag.FechaInicio[718]', @ViewBag.Valor[718]],
                    ['@ViewBag.FechaInicio[719]', @ViewBag.Valor[719]],
                    ['@ViewBag.FechaInicio[720]', @ViewBag.Valor[720]],
                    ['@ViewBag.FechaInicio[721]', @ViewBag.Valor[721]],
                    ['@ViewBag.FechaInicio[722]', @ViewBag.Valor[722]],
                    ['@ViewBag.FechaInicio[723]', @ViewBag.Valor[723]],
                    ['@ViewBag.FechaInicio[724]', @ViewBag.Valor[724]],
                    ['@ViewBag.FechaInicio[725]', @ViewBag.Valor[725]],
                    ['@ViewBag.FechaInicio[726]', @ViewBag.Valor[726]],
                    ['@ViewBag.FechaInicio[727]', @ViewBag.Valor[727]],
                    ['@ViewBag.FechaInicio[728]', @ViewBag.Valor[728]],
                    ['@ViewBag.FechaInicio[729]', @ViewBag.Valor[729]],
                    ['@ViewBag.FechaInicio[730]', @ViewBag.Valor[730]]


            ]);

                var options = {
                    title: 'Gráfica lineal',
                    curveType: 'function',
                    legend: { position: 'bottom' }
                };

            var chart = new google.visualization.LineChart(document.getElementById('GraficaLineal'));

            chart.draw(data, options);


        } catch (e) {
        logMyErrors(e);
    }
    }
</script>
</html>
